@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html, body {
    max-width: 100vw;
    max-height: 100vh;
    margin: 0;
    padding: 0;
}

.page-container {
    display: grid;
    grid-template-rows: 15vh 10vh 60vh 15vh;
    background-color: black;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
}

header {
    height: 100%;
    color: white;
    text-align: center;
}

.game-container {
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: white;
    width: 50vw;
    border-radius: 5px;
}

.game-array {
    border: 1px solid black;
    font-size: 300%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-container {
    grid-row: 2 / 3;
    color: white;
    text-align: center;
}

.reset {
    display: flex;
    align-items: center;
    justify-content: center;
}